<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="book"> 
 <select id="countArticle" resultType="int">
  select count(*)
  from book
 </select>
 
  <select id="listAll" resultType="com.example.project.model.book.dto.bookDTO">
 select *
  from (
    select rownum as rn, A.* 
    from(
		  select book_id,book_name,book_img,book_genre,book_content,
		  book_publisher,book_author,book_counter,book_check
		  from book
		  <choose>
		   <when test="search_option != 'all' ">
		    where  ${search_option} like #{keyword}
		   </when>
		   <otherwise>
		    where (book_name like #{keyword} 
		       or book_author like #{keyword}
		       or book_publisher like #{keyword})
		   </otherwise>
  			</choose>
  			 ) A
  ) where rn between #{start} and #{end}
 </select>
 
 <sql id="search">
  <choose>
   <when test="search_option != 'all' ">
    where  ${search_option} like #{keyword}
   </when>
   <otherwise>
    where (book_name like #{keyword} 
       or book_author like #{keyword}
       or book_publisher like #{keyword})
   </otherwise>
  </choose>
 </sql>
 
  <sql id="paging_footer">
    ) A
  ) where rn between #{start} and #{end}
 </sql>
 
  <select id="read" 
 resultType="com.example.project.model.book.dto.bookDTO">
  select book_id,book_name,book_img,book_genre,book_content,
		  book_publisher,book_author,book_counter,book_check
  from book
  where book_id=#{book_id}
 </select>
 
 <!-- 체크박스 누름 -->
  <select id="check" resultType="com.example.project.model.book.dto.bookDTO" > 
  select book_id,book_name,book_img,book_genre,book_content,
		  book_publisher,book_author,book_counter,book_check
   from book
   where
        <if test="checklist!=null">
         book_genre in <foreach item="check" index="index" collection="checklist" open="(" separator="," close=")" >
         #{check}
         </foreach>
        </if>
</select>
</mapper>














