<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="rent">
 <select id="listRent"
 resultType="com.example.project.model.rent.DTO.RentDTO">
 select rent.bnum, member.userid, member.name, book.book_id,
 book.book_name, rent.aday, rent.bday,rent.rent_check
 from member, book, rent
 where member.userid=rent.userid and book.book_id=rent.book_id
 and member.userid=#{userid} and show='y'
 </select>

 
 <select id="listRentN"
 resultType="com.example.project.model.rent.DTO.RentDTO">
 select rent.bnum, member.userid, member.name, book.book_id,
 book.book_name, rent.aday, rent.bday,rent.rent_check
 from member, book, rent
 where member.userid=rent.userid and book.book_id=rent.book_id
 and member.userid=#{userid} and show='n'
 </select>
 
 <insert id="insert">
  insert into rent(bnum, userid, book_id,rent_check) values
  (rent_seq.nextval, #{userid}, #{book_id},1)
 </insert>
 
 <update id="extend">
  update rent set bday=bday+7
  where bnum=#{bnum}
 </update>
 
 <update id="modifyRent">
  update rent
  where bnum=#{bnum}
 </update>
 
 <update id="show">
  update rent set show='n' 
  where bnum=#{bnum}
 </update>
 
 <delete id="delete">
  delete from rent
  where bnum=#{bnum}
 </delete>
 
 <update id="re">
 update rent set rent_check=0, bday=sysdate
 where bnum=#{bnum}
 </update>
</mapper>