@charset "UTF-8";

body {
	width: 1250px;
	color: #333;
	font-family: "Trebuchet MS", Dotum, Arial; 
}

#ge {
	background-color: red;
	width: 200px;
	height: 200px;
	position: absolute;
	left: 50%; 
} 

fieldset {
	margin: 10px;
	border: 2px solid #666;
}

button {
	background-color: #fff;
	color: orange;
	border: 1px solid orange;
	font-weight: bold;
}